<div class="Searchheadline">
  <div class="container center-block">
    <span>Trouver le repas qui vous convient </span>
  </div>
</div>
<div class="container">
  <% if @status %>
      <div class="row">
        <% @meals.each do |meal| %>
          <%= link_to meal do %>
            <div class="col-xs-12 col-sm-3 search_item">
              <div class="cover" style="background: url(<%= image_url('Food/food3.jpg') %>); background-size: cover; background-position: center;">
                <% if meal.date.today? %>
                  <p><%= meal.date.strftime("Aujourd'hui à %H:%M") %></p>
                <% elsif meal.date.to_date == Date.tomorrow %>
                  <p><%= meal.date.strftime("Demain à %H:%M") %>
                <% else %>
                  <p><%= meal.date.strftime("Le %d/%m à %H:%M") %></p>
                <% end %>
              </div>
              <div class="user">
                <div class="row">
                  <div class="col-xs-2">
                    <%= image_tag avatar_url(meal.user) %>
                  </div>
                  <div class="col-xs-6 center-block">
                    <span><span>Ajouté par<br /></span> <%= meal.user %></span>
                  </div>
                </div>
              </div>
              <h4><%= meal.title %></h4>
              <p>
                <%= truncate(meal.description, :length => 50) %>
              </p>
              <div class="row">
                <div class="meal_place col-xs-8"> <%= meal.place.city %> / lieu à <span id="meal<%= meal.id %>"><script>distance(<%= @lat1 %>, <%= @lng1 %>, <%= meal.place.latitude %>, <%= meal.place.longitude %>, <%= meal.id %>);</script><%= image_tag("ellipsis.gif") %></span></div>
                <div class="col-xs-4 text-right price"><%= meal.price %> €</div>
              </div>
            </div>
          <% end %>
        <% end %>
        <% else %>
          <p>Aucun repas trouvé à proximité :/</p>
          <% end %>
      </div>
  </div>
