
<% @meals.each do |meal| %>
  <article class="">
    <%= meal.title %>
    <%= meal.place.city %>
    <p>Lieu à <span id="meal<%= meal.id %>"><script>distance(<%= @lat1 %>, <%= @lng1 %>, <%= meal.place.latitude %>, <%= meal.place.longitude %>, <%= meal.id %>);</script><%= image_tag("ellipsis.gif") %></span></p>
  </article>
<% end %>
