<script type="text/javascript">
function distance(lat, lng, id){
  var UnitSystem = google.maps.UnitSystem.METRIC;
  var origin = new google.maps.LatLng(<%= @lat1 %>,<%= @lng1 %>);
  var destination = new google.maps.LatLng(lat, lng);
  var service = new google.maps.DistanceMatrixService();
  service.getDistanceMatrix(
    {
      origins: [origin],
      destinations: [destination],
      travelMode: google.maps.TravelMode.DRIVING,
      unitSystem: UnitSystem,
      avoidHighways: true,
      avoidTolls: true,
    }, callback);

    function callback(response, status) {
      console.log("in callback");
      if (status == google.maps.DistanceMatrixStatus.OK) {
        console.log("status ok");
        var origins = response.originAddresses;
        var destinations = response.destinationAddresses;

        for (var i = 0; i < origins.length; i++) {
          var results = response.rows[i].elements;
          for (var j = 0; j < results.length; j++) {
            var element = results[j];
            var distance = element.distance.text;
            var duration = element.duration.text;
            var from = origins[i];
            var to = destinations[j];
            console.log(distance);
            document.getElementById("meal" + id).innerHTML = distance;
          }
        }
      }
    }

}

</script>
<% @meals.each do |meal| %>
  <article class="">
    <%= meal.title %>
    <%= meal.place.city %>
    <p>Lieu à <span id="meal<%= meal.id %>"><script>distance(<%= meal.place.latitude %>, <%= meal.place.longitude %>, <%= meal.id %>);</script><%= image_tag("ellipsis.gif") %><img src="images/ellipsis.gif" /></span></p>
  </article>
<% end %>
