<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meal.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meal.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @meal.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @meal.user %>
</p>
<p>
  <strong>Place:</strong>
  <%= @meal.place %>
</p>
<p>
  <strong>Date:</strong>
  <%= @meal.date %>
</p>
<p>
  <strong>Date:</strong>
  <%= @meal.date %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
