<%= simple_form_for(@place) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <input id="user_input_autocomplete_address" placeholder="Start typing your address...">
    <%= f.input :title %>
    <%= f.input :street_number, :as => :hidden, input_html: {id: "street_number"} %>
    <%= f.input :address, :as => :hidden, input_html: {id: "route"} %>
    <%= f.input :zipcode, :as => :hidden, input_html: {id: "postal_code"} %>
    <%= f.input :city, :as => :hidden, input_html: {id: "locality"} %>
    <%= f.input :latitude, :as => :hidden, input_html: {id: "lat"}  %>
    <%= f.input :longitude, :as => :hidden, input_html: {id: "lng"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
