<script type="text/javascript">
function initializeAutocomplete(id) {
  var element = document.getElementById(id);
  if (element) {
    var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
  }
}
google.maps.event.addDomListener(window, 'load', function() {
  initializeAutocomplete('user_input_autocomplete_address');
});
function onPlaceChanged() {
  var place = this.getPlace();

   console.log(place);  // Uncomment this line to view the full object returned by Google API.
   console.log("lat : " + place.geometry.location.lat());
   console.log("lng : " + place.geometry.location.lng());

  for (var i in place.address_components) {
    var component = place.address_components[i];
    for (var j in component.types) {  // Some types are ["country", "political"]
      var type_element = document.getElementById(component.types[j]);
      if (type_element) {
        type_element.value = component.long_name;
      }
    }
  }
  document.getElementById('lat').value = place.geometry.location.lat();
  document.getElementById('lng').value = place.geometry.location.lng();
}
</script>
<%= simple_form_for(@place) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <input id="user_input_autocomplete_address" placeholder="Start typing your address...">
    <%= f.input :title %>
    <%= f.input :street_number, :as => :hidden, input_html: {id: "street_number"} %>
    <%= f.input :address, :as => :hidden, input_html: {id: "route"} %>
    <%= f.input :zipcode, :as => :hidden, input_html: {id: "postal_code"} %>
    <%= f.input :city, :as => :hidden, input_html: {id: "locality"} %>
    <%= f.input :latitude, :as => :hidden, input_html: {id: "lat"}  %>
    <%= f.input :longitude, :as => :hidden, input_html: {id: "lng"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
