<!DOCTYPE html>
<html>
<head>
  <title>HomEat</title>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDrwDJ8fThGt0bS7x2GGt2sGa3zZKsPFc0&libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sign">
    <div class="inside" id="signup_inside">
      <a  onclick="displayNone('sign'); displayNoneClass('inside'); return false;">Fermer</a>
      <%= render 'devise/registrations/form' %>
    </div>
    <div class="inside" id="login_inside">
      <a href="#" onclick="displayNone('sign'); displayNoneClass('inside'); return false;">Fermer</a>
      <%= render 'devise/sessions/form' %>
    </div>
  </div>
  <% if !user_signed_in? %>
    <nav>
      <a href="/signup" onclick="displayFlex('sign'); displayFlex('signup_inside'); return false;">Inscription</a>
      <a href="/login" onclick="displayFlex('sign'); displayFlex('login_inside'); return false;">Connexion</a>
    </nav>
    <% else %>
      <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %>
    <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
